streamlit==1.39.0
videodb
faster-whisper
ffmpeg-python
python-dotenv
requests
opencv-python  # Add this for cv2
pytesseract    # For OCR in extract_text_from_video
imutils        # For FileVideoStream
tqdm           # For progress bars in extract_text_from_video
numpy          # For CV2 operations in preprocess_frame
opencv-python-headless
